<div class="header">
  <div class="row">
    <div class="col-md-4">
      <img id="worldlogo" [attr.src]="server+'icones/'+world.logo" />
      <span id="worldname">{{world.name}}</span>
    </div>
    <div class="col-md-4" id="money">
      <span><span [innerHTML]="world.money | bigvalue" class="money"></span> € </span>
      <button class="btnCommute" (click)="commutePrice()">{{ qtmulti }}</button>
    </div>
    <div class="col-md-4">
      <input type="text" 
      [(ngModel)]="username"
      (change)="onUsernameChanged()"/>
    </div>
  </div>
  <div class="col-md-3">
    <div class="bouton">
      <button id='unlocks' class="row">Unlocks</button><br />
      <button id="cashUpgrades" class="row">Cash Upgrades</button><br />
      <button id="angelUpgrades" class="row">Angels Upgrades</button><br />
      <button id="managers" class="row" data-toggle="modal" (click)="managersModal.show()">
      <span class="badge">{{this.newManager() ? "NEW" : "" }}</span>Managers</button> 
      <button id="investors" class="row">Investors</button>
    </div>
  </div>
  <div class="col-md-4 col-produit">
    <div class="row">
      
      <app-product [prod]="world.products.product[0]" class="product" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" (notifyBuy)="onBuy($event)">
      </app-product>
    </div>
    <div class="row">
      <app-product [prod]="world.products.product[1]" class="product" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" (notifyBuy)="onBuy($event)">
      </app-product>
    </div>
    <div class="row">
      <app-product [prod]="world.products.product[2]" class="product" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" (notifyBuy)="onBuy($event)">
      </app-product>
    </div>
  </div>
  <div class="col-md-4 col-produit">
    <div class="row">
      <app-product [prod]="world.products.product[3]" class="product" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" (notifyBuy)="onBuy($event)">
      </app-product>
    </div>
    <div class="row">
      <app-product [prod]="world.products.product[4]" class="product" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" (notifyBuy)="onBuy($event)">
      </app-product>
    </div>
    <div class="row">
      <app-product [prod]="world.products.product[5]" class="product" (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [money]="world.money" (notifyBuy)="onBuy($event)">
      </app-product>
    </div>
  </div>
 <!-- Ne fonctionne pas !!! <toaster-component></toaster-component> --> 
</div>
<!--Modal-->
<app-modal #managersModal>
  <div class="app-modal-header">
    <h4 class="modal-title">Managers make you feel better !</h4>
  </div>
  <div class="app-modal-body">
    <div *ngFor="let manager of world.managers.pallier">
      <!-- a completer pour réaliser le rendu d’une ligne de manager -->
      <div *ngIf="!manager.unlocked" class="row" id="ManagerCell">
        <div class="col-md-4 text-center">
          <img [attr.src]="server + '/icones/' + manager.logo" class="round" />
        </div>
        <div class="col-md-8">
          <button class="HireButton" [disabled]=" manager.seuil > world.money || world.products.product[manager.idcible - 1].quantite <= 0" 
            (click)="hire(manager)" >
            Engager
          </button>
        </div>
      </div>
      <div class="ManagerName">{{ manager.name }}</div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button>
  </div>
</app-modal>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

