<div class="lesdeux">

  <div class="products">
    <img id="productlogo" (click)="startFabrication()" [attr.src]="server+'icones/'+product?.logo" />
    <p> {{ this.product.name }} niveau {{ this.product.quantite }}
      <br> Revenu : {{ this.product.revenu }} </p>
  </div>

  
   <div class="lesecond">
    <mat-progress-bar class="progressbar" [value]="progressbarvalue">
    </mat-progress-bar>
   
      <button class="btnBuyProduct" ng-model="button" (click)="buyProduct()">
        Upgrade {{qteMulti()}} monster for {{numberTransformer.transform(totalCost) }} <img id="img_monnaie" [src]="server+'icones/monnaie.png'"/> </button>
    </div>
  </div>
