#img_monnaie{
    width: 8%;
    height: 80%;
}

#productlogo {
    width: 135px;
    height: 95px;
   
}

.lesecond{
    top: 50px;
}

.progressbar {
    height: 15px;
    width: 250px;
    padding-bottom: 10px;
   
    
  }

  
  .btnBuyProduct{
      height: 30px;
      width: 250px;
      position: relative;
      
  }

  .products{
     padding-bottom: 2em; 
  }
  