
#productlogo {
    width: 135px;
    height: 95px;
   
}

.progressbar {
    height: 15px;
    width: 200px;
    padding-bottom: 10px;
   
    
  }

  
  .btnBuyProduct{
      height: 30px;
      width: 200px;
      position: relative;
      
  }

  .products{
     padding-bottom: 2em; 
  }
  