/* You can add global styles to this file, and also import other style files */
.round {
    width: 100px;
    height: 100px;
    border-radius: 50%
    
   }

body {
    
    background: linear-gradient(#421e0afd,rgb(26, 14, 2));
}   
